.rbenv-version
.DS_Store
Vagrantfile
.bundle
watchr.rb
config/database.yml
config/local.yml
config/thin.yml
config/app.yml
db/*.sqlite3
db/unmatch.yml
db/match.yml
log/*.log
tmp/**/*
tmp
vendor/qor
public/resources
public/qor_widget
public/formtastic
public/system
public/assets
public/localization
public/qor_form
public/feeds
public/cache
*.tmproj
*.swp
*.swo
.powder
config/s3.yml
.idea/
coverage.data
coverage/
bin
.sass-cache
config/publish.rb
public/local_paperclip
config/database.yml.draft
config/database.yml.original
*.tar.gz
*.sql
